*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
}

:root{
    --color-rojo:red;
    --color-rojo:blue;
    --color-rojo:purple;

    --titulo-h1: 2.6rem;
    --titulo-h2: 1.8rem;
    --titulo-h3: 16rem;
    --parrafo: 14rem;
    --span:12rem;

    
    
}